<div class="container-fluid outline body">
		<%= render 'head_nav' %>
  <div class="row">
    <div class="col-md-8 white-bg">
		<div class="row">
   			<div class="col-md-10 col-md-offset-1">
   				<img class="article-badge-strikethru center-block" src="<%= image_url 'icon_tech.png' %>"/>
   			</div>
   		</div>
   	    <div class="row">
   			<div class="col-md-10 col-md-offset-1 border-strike">
   				<img class= "img-responsive" src="http://placehold.it/700x300"/>
   			</div>
   	    </div>
   			<!--start of footer pic row-->
   
   	 	<div class="row">
   		    <div class="col-md-10 col-md-offset-1">
	   		  <div class="row thumbnail-row">
	   			<div class="col-md-3 thumb-pic">
	   				<img class= "img-responsive" src="http://placehold.it/150x70"/>
	   			</div>
	   			<div class="col-md-3 thumb-pic">
	   				<img class= "img-responsive" src="http://placehold.it/150x70"/>
	   			</div>
	   			<div class="col-md-3 thumb-pic">
	   				<img class= "img-responsive" src="http://placehold.it/150x70"/>
	   			</div>
	   			<div class="col-md-3 thumb-pic">
	   				<img class= "img-responsive" src="http://placehold.it/150x70"/>
	   			</div>
   		      </div>
   		    </div>
   		</div>
   			<!--end of footer pic row-->

	   	<div class="row">
	   		<div class="col-md-10 col-md-offset-1 article-body">
	   			<p>
	   						<h3 class="article-heading">Wild Chimpanzees escape Brooklyn Zoo and move on HappyFunCorp<h3>
	   						<h6 class="authorname">BY AUTHOR NAME</h6>
	  				
	   					<p class="article-content">
	   					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
	   				</p>
				</p>
	   		</div>
	   	</div> 
   					<!--article body-->

		   	<div class="row">
		   		<div class="col-md-6 col-md-offset-6">
		   			<div class="row">
		   			<img class="social-btn" src="<%= image_url 'share_facebook.png' %>"/><img class="social-btn" src="<%= image_url 'share_twitter.png' %>"/>
		   			</div>
		   		</div>
		   	</div>
	   							<!--about the author-->
	   		<div class="row author-info tech-author">
	   			<div class="col-md-2 col-md-offset-1">
	   				<p class="tech-author">ABOUT THE AUTHOR</p>
	   			</div>
	   			<div class="col-md-9">
	   			</div>
		   	</div>

		   	<div class="row author-bio tech-author">
		   		<div class="col-md-1">
		   			<img class="author-avatar" src= "http://placehold.it/150x150"/>
		   		</div>
		   		<div class="col-md-9">
		   			<p>
		   				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 	dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		   			</p>
		   		</div>
	   		</div> <!-- /about author -->
     	</div>
   			<%= render 'breaking_news_sidebar'%>
    </div>
			<%= render 'footer' %>
</div>
